



:root{
  --black:#192a56;
  --orange:#F95F1D;
  --yellow:#ffa801;
}

*{
  font-family: 'Times New Roman', Times, serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  width: 2px!important;
  height: 2px!important;
  }
  
  
    
    
  

section{
  padding:0 7%;
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.7rem 2.5rem;
  font-size: 1.7rem;
  color:var(--yellow);
  cursor: pointer;
  background:orange;
  color: brown;
  border:1px solid goldenrod;
}

.btn:hover{
  background:purple;
  color:rgb(43, 220, 226);
}

.heading{
  text-align: center;
  color:var(--black);
  padding:1rem;
  text-transform: uppercase;
  font-size: 4.5rem;
}

header{
  position: fixed;
  top:0; left:0;
  width:100%;
  z-index: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 7%;
  background:var(--orange);
  z-index: 1000;
  font-weight: bold;
}

header .logo{
  font-size: 2.5rem;
  color:black;
  font-weight: bolder;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
  color:blue;
}

header .navbar a:hover{
  color:darkorange;
}

#menu-bar{
  font-size: 3rem;
  color:var(--black);
  cursor: pointer;
  display: none;
}
 
.home{
  display: flex;
  align-items: center;
  background:url(bg4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  background-color:white;
 
}

.home .image{
  margin-bottom: 0%;

  flex:1 1 40rem;
}

.home .content{
  padding:5rem;
  flex:1 1 40rem;
}

.home .content h2{
  color:lime;
  font-size: 3rem;
  text-transform: uppercase;
  font-style: normal;
  right: auto;
}

.home .content p{
  color:gray;
  font-size: 1.7rem;
}

.home .image img{
  width:100%;
}

.home .content .btn{
  color:black;
  background:rgb(43, 220, 226);
  border:none;
  font-weight: bold;
  
}

.home .content .btn:hover{
  color:gold;
  background:purple;
  font-weight: bold;

}


.services{
  background:white;
}

.services .heading{
  color:var(--black);
}

.services .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .box-container .box{
  padding:4rem;
  margin:1rem;
  flex:1 1 30rem;
  border: 1px solid rgba(68, 68, 68, 0.96);
  text-align: center;
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:green;
  padding:1rem 0;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:grey;
  padding-bottom:1rem;
}

.services .box-container .box:hover{
  background:gainsboro;
}

.services .box-container .box:hover h3{
  color:var(--black);
}

.services .box-container .box:hover p{
  color:#666;
}



.team{
  background:var(--yellow);
}

.team .heading{
  color:#000;
}

.team .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team .box-container .box{
  width:27rem;
  background:#fff;
  position: relative;
  margin:1rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.team .box-container .box img{
  height:10rem;
  width:10rem;
  border-radius: 50%;
  object-fit: cover;
}

.team .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.team .box-container .box span{
  font-size: 1.5rem;
  color:var(--orange);
}

.team .box-container .box p{
  padding:1rem 2.5rem;
  font-size: 1.3rem;
  color:#666;
}

.team .box-container .box .share{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  background:var(--orange);
  display: flex;
  justify-content: center;
}

.team .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  color:blue;
  font-size: 1.7rem;
}

.team .box-container .box .share a:hover{
  background:#fff;
  color:var(--black);
}

.plans{
  background:var(--black);
  background: black;
}

.plans .heading{
  color:#fff;
}

.plans .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.plans .box-container .box{
  flex:1 1 35rem;
  margin:1rem;
  text-align: center;
  padding:4rem;
  border:.1rem solid var(--yellow);
}

.plans .box-container .box h3{
  font-size: 3rem;
  color:#fff;
  padding: 1rem 0;
}

.plans .box-container .box .amount{
  display: flex;
  justify-content: center;
  font-size: 6rem;
  color:var(--yellow);
}

.plans .box-container .box .amount span{
  font-size: 2.5rem;
}

.plans .box-container .box p{
  color:#eee;
  font-size: 1.8rem;
  padding:1rem 0;
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.contact .row form{
  flex:1 1 40rem;
  padding:2rem;
}

.contact .row .map{
  flex:1 1 40rem;
  width:100%;
}

.contact .row form .inputBox{
  position: relative;
}

.contact .row form .inputBox input, .contact .row form .inputBox textarea{
  width: 100%;
  margin:1.5rem 0;
  padding:.7rem 1rem;
  font-size: 1.7rem;
  color:#666;
  border:.1rem solid rgba(0,0,0,.2);
  text-transform: none;
}

.contact .row form .inputBox textarea{
  height: 15rem;
  resize: none;
}

.contact .row form .inputBox label{
  font-size: 1.5rem;
  position: absolute;
  top:2.5rem; left:1rem;
  color:#444;
}

.alert{
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

.contact .row form .inputBox input:focus ~ label,
.contact .row form .inputBox textarea:focus ~ label,
.contact .row form .inputBox input:valid ~ label,
.contact .row form .inputBox textarea:valid ~ label{
  top:-.7rem; left:0;
  color:var(--orange);
}

.footer{
  background:var(--black);
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box{
  margin:2rem;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:#fff;
  padding:1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color:#fff;
  padding:.5rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color:#fff;
  padding:.5rem 0;
}

.footer a:hover{
  text-decoration: underline;
}

.footer .credit{
  font-size: 2rem;
  background:#fff;
  color:#444;
  text-align: center;
  padding:2.5rem 1rem;
  letter-spacing: .1rem;
}

.footer .credit a{
  color:var(--orange);
}

















